.flex-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    /*flex-wrap: wrap;*/
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-basis: 100%;
    /*flex: 1;*/
}

.fit-content {
    max-width: fit-content;
}